<td class='code required'>{{name}}</td>
<td>
	{{#if isBody}}
		{{#if defaultValue}}
		 	<input minlength='0' name='{{name}}' placeholder='(required)' type='text' value=''/>
		{{else}}
		 	<input minlength='0' name='{{name}}' placeholder='(required)' type='text' value=''/>
		{{/if}}
		
	{{else}}
		{{#if defaultValue}}
		    <input class='required' minlength='1' name='{{name}}' placeholder='(required)' type='text' value='{{defaultValue}}'/>
		{{else}}
		    <input class='required' minlength='1' name='{{name}}' placeholder='(required)' type='text' value=''/>
		{{/if}}
	{{/if}}
</td>
<td width='500'>
    <strong>{{{description}}}</strong>
</td>
